db/*.sqlite3
log/*.*
tmp/**/*
tmp/*
config/deploy
config/deploy/*
config/deploy.rb
Capfile
._*
log/*.pid
db/*.db
db/schema.rb
.DS_Store
Thumbs.db
doc/api
doc/app
config/database.yml
config/database.mongo.yml
config/mongoid.yml
autotest_result.html
coverage
public/stylesheets/app
public/stylesheets/app/ie
public/stylesheets/app/*.css
public/attachments
public/audio
backups/
public/backup_db.sql.gz
vendor/bundle/ruby
bin
assets/**/*
*~
**/*.*~
Procfile
.rvmrc
.bundle
*~
nbproject/**/*
doc/*