= title("Админка &#8594; Словари &#8594; Улицы &#8594; " + @street.name + " &#8594; Редактирование")

%div.container
  = admin_menu("dictionaries")
%div.container
  %div.content
    %h2 Улицы
    - form_for(:street, @street, :url => backend_street_path(@street), :html => {:method => "put"}) do |f|
      = f.text_field :name
      = submit_tag("Редактировать", :class => "button")