- title('Экстренные телефоны')

%div.container
  %div.emergency
    %div.round-10 
      %div.num 101 
      %div.title Пожарная охрана 
    %div.round-10
      %div.num 102
      %div.title Милиция
    %div.round-10
      %div.num 103
      %div.title Скорая помощь
    %div.last.round-10
      %div.num 104
      %div.title Аварийная газа