- title('Служебные телефоны')

%div.container
  %div.help_phones
    %div.round-10 
      %div.num 109 
      %div.title Справочная услуга по предоставлению номеров
    %div.round-10
      %div.num 1509
      %div.title Справочная услуга по предоставлению номеров по неполным данным
    %div.round-10
      %div.num 177
      %div.title Информационно-справочная служба по вопросам расчетов за предоставленные телекоммуникационные услуги
    %div.round-10
      %div.num 121
      %div.title Служба точного времени
    %div.round-10 
      %div.num 176
      %div.title Информационно-справочная услуга по предоставлению телекоммуникационных услуг
    %div.round-10
      %div.num 1566
      %div.title Служба заказа телеграмм
    %div.round-10
      %div.num 170
      %div.title Информационно-справочная услуга АМТС (МТС)
    %div.round-10
      %div.num 171
      %div.title Принятие заказов на разговоры с населенными пунктами Украины
    %div.round-10
      %div.num 194
      %div.title Прием заказов на международные разговоры
    %div.round-10
      %div.num 1508
      %div.title Централизованная служба бюро ремонта телефонов
    %div.round-10
      %div.num 120
      %div.title Справка сокращенных номеров
    %div.last.round-10
      %div.num 122
      %div.title Прогноз погоди